/* Global styles*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

body{
    width: 100%;
}

p{
    font-size: 1.6rem;
    font-weight: 400;
    color: #333;
    line-height: 1.3;
}

section{
    padding: 7rem 0;
}

.container{
    width: 100%;
    max-width: 98rem;
    padding:0% 2.5rem;
}
/*Here we will use the center to centre everything we want to do*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header styles*/

header{
    width: 100%;
    background-color: #eee;
}

.header{
    display: flex;
    justify-content: space-between; /* sent the two items apart from each other to the far ends*/
    align-items: center; /* making sure that both items are in the center of the header element*/
}

.header img{
    height: 7rem;
    padding: .5rem 0;

}


nav ul{
    display:flex; /* makes the li contents align side by side*/
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;/* this removes the bullet points*/
    font-size: inherit;
    padding: 0 1.6rem;/*this spaces the list*/
}

li a,
li a:visited,
li:active{
    font-size: inherit;
    font-weight: 500;
    text-decoration: none; /* removes the undeline */
    color: #166978;
}

li a:hover,
ul li .current{ /*targeting the current in a tag so as to remain active when we are on the home page*/
    color: #bb2205;
    font-size: 1.7rem;/* increase the font wen hover*/
    transition: all .3s;
}

/* intro section */
/* intro section */
/* intro section */

.intro-section{
    background: url(1-bg.jpg) no-repeat center;
    background-size: cover;/*taking over the space */
    height: 60vh;
}

.intro{
    width: 55%;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    padding: 5rem 2rem;
    border-radius: 5px;
}

.intro .intro-text{
    color: #bb2205;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
}

.p-head{
     font-size: 2.8rem;
     font-weight: 700;
     text-transform: capitalize;
     margin-bottom: 1rem;

}

/* targeting the welcome to to b on a separate line using the span tag*/
.p-head span{
    display: block;
}

/* writing a class for white text*/
.white-text{
    color: #fff;
    margin-bottom: 2.5rem;
}

.btn{
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: .8rem 1.6rem;
    border-radius: 5px;
    background-color: transparent;
}

.btn:hover{
    background-color: #bb2205;
    transition: all .3s;
}

/*ABOUT SECTION*/
/*ABOUT SECTION*/
/*ABOUT SECTION*/
/*ABOUT SECTION*/

.about-section{
    background-color: #eee;

}

.about{
    width: 60%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.s-head{
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-transform: capitalize ;
    margin-bottom: 1rem;
}

/*MENU SECTION*/
/*MENU SECTION*/
/*MENU SECTION*/

.menu-section{
    background-color: #fff;

}

.menu-heading{
    text-align: center;
}

.menu-items{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.menu-item{
    width: 100%;
    margin: 1rem;
    border: 1px solid #eee;
    overflow: hidden; /*trims the edges*/
    border-radius: 5px;
}

.menu-item img{
    width: 100%;/*we giving them a width to each of their container*/
    height: 50%;
    margin-bottom: 1rem;
}

.menu-item-text{
    padding: 1rem;
    margin-bottom: 3rem;
}

.t-head{
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    text-transform: capitalize;
    margin-bottom: .5rem;
}

.menu-item-text p{
    font-size: 1.3rem;
}

/*Testimonial section*/
/*Testimonial section*/
/*Testimonial section*/

.testimonial-section{
    background: url(bg-3.jpg) no-repeat center;
   background-size: cover;
   background-attachment: fixed;/*Makes the image to be fixed*/
}

.testimonial{
    width: 60%;
    text-align: center;
    padding: 5rem 0.5rem;
    background-color: rgba(255,255,255, .5);
    border-radius: 5px;
}

.testimonial img{
    width: 20%;
    border-radius: 50%;
}

.q-head{
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 0;
}


/*ORDER SECTION*/
/*ORDER SECTION*/
/*ORDER SECTION*/

.order-section{
    background-color: #eee;
}

.order{
    width: 75%;
    margin: 0 auto;
    padding: 3rem 0;
}

.order-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
}

.order-items{
    width: 70%;
    display: flex;
    
    align-items: center;

}

.order-items img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.order-items p{
    font-size: 1.3rem;
}

.order-price{
    height: 100%;
}

.order-price p{
    font-weight: 500;
    padding-bottom: 2rem;
}

.btn-solid{
    background-color: #bb2205;
    padding: .8rem 1rem;
}

/*FOOTER SECTION*/
/*FOOTER SECTION*/

footer{
    background-color: #2d6182;
    padding: 1rem 0;
}

.footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link ul li a{
    color: #fff;
}

.footer p{
    margin: 1rem 0;
    
}






/*  MEDIA QUERIES*/
/*  MEDIA QUERIES*/
/*  MEDIA QUERIES*/

@media screen and (max-width: 600px) {
    /* intro section */
    .intro{
        width: 100%;
        
    }
    /*ABOUT SECTION*/
    /*ABOUT SECTION*/
    .about{
        width: 100%;
    }

    /*MENU SECTION*/
    /*MENU SECTION*/
    /*MENU SECTION*/
    .menu-items{
        flex-direction: column; /*when the screen shrinks we want it to change to coluns rather than rows*/
          
    }

    /*testimonial section*/
    /*testimonial section*/
    .testimonial{
        width: 70%;
    }

    /*ORDER SECTION*/
    /*ORDER SECTION*/
    .order{
        width: 100%;
    }

    .order-box{
        padding: .5rem;
    }

    .img{
        width: 8rem;
        height: 8rem;
    }

    .order-items p{
        font-size: 1.2rem;
    }

    /*FOOTER SECTION*/
    .footer{
        flex-direction: column;
    }
}